* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height:  1.4;
}

a {
  color: #0683f8;
}

input {
  flex: 10;
  padding: 5px;
}

.main-form {
  display: flex;
}

.container {
  padding: 0 10%;
}

.btn-submit{
  background-color: springgreen;
}